.event-detail {
  margin: 2rem;
  align-items: flex-start; }
  .event-detail__content-wrapper {
    align-items: flex-start;
    margin-bottom: 2rem; }
  .event-detail__content {
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
    padding: 0; }
  .event-detail__border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    padding: 1rem; }

.basic-info {
  padding-bottom: 1rem; }
  .basic-info__start-date {
    float: left;
    padding-right: 4rem; }
  .basic-info__number-day {
    color: red;
    font-size: 1.125rem; }
  .basic-info__place-event {
    float: left; }
  .basic-info__title-event {
    font-size: 1.125rem;
    font-weight: 600; }

.information {
  padding-bottom: 2rem; }
  .information__dark-text {
    color: #4b4f56; }
  .information__light-text {
    color: #90949c; }

.description-box {
  clear: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin-bottom: 2rem; }
  .description-box__title {
    font-weight: bold;
    padding-bottom: 1rem; }
