.user-form {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: #f7dc1b;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75); }
  .user-form__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem; }
  .user-form__item {
    margin-bottom: 2rem;
    width: 48%;
    float: left;
    border-radius: 0.3rem; }
    .user-form__item:nth-of-type(2) {
      margin-right: 0; }

.user-form-button {
  text-align: center; }
  .user-form-button__left-btn {
    margin-right: 1rem; }

@media (max-width: 1200px) {
  .user-form {
    width: 60%; } }

@media (max-width: 1000px) {
  .user-form {
    width: 70%; } }

@media (max-width: 600px) {
  .user-form {
    width: 100%; } }
