@import '../../css/colors.scss';

.event-tile {
  max-width: 20%;
  margin-top: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
  &__image {
    width: 100%;
  }
  &__content {
    padding: 1rem;
    border: 1px solid $color-gray;
    border-top: none;
  }
}

.event-tile-date {
  &__date-day {
    float: left;
    padding-right: 2rem;
  }
  &__date-title {
    color: $color-red;
    font-weight: bold;
  }
  &__info {
    float: left;
  }
  &__info-title {
    font-weight: bold;
    color: $color-black;
  }
}

.event-tile-address {
  padding-top: 0.5rem;
  &__title {
    float: left;
    font-weight: bold;
  }
  &__info {
    float: left;
    padding-left: 0.8rem;
  }
}

.event-tile_landscape {
  max-width: 100%;
  &__image {
    width: 100%;
    float: left;
  }
  &__content {
    padding: 1rem;
    border: 1px solid $color-gray;
  }
}
