@import '../../css/colors.scss';

.user-tile {
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid $color-gray;
  border-top: none;
  padding: 0;
}

.user-tile-box {
  padding: 1rem;
  font-size: 1.125rem;
  &__image {
    flex-direction: row;
    justify-content: center;
  }
  &__name {
    float: left;
    color: $color-dark-gray;
    font-weight: bold;
    padding-right: 1rem;
  }
  &__info {
    float: left;
    max-width: 67%;
    color: $color-light-gray;
  }
  &__motto {
    overflow-wrap: break-word;
  }
}

@media (max-width: 1460px) {
  .user-tile-box__name {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 1398px) {
  .user-tile-box {
    font-size: 1rem;
  }
}

@media (max-width: 1268px) {
  .user-tile-box {
    font-size: 0.9rem;
  }
}

@media (max-width: 1165px) {
  .user-tile-box__name {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  .user-tile-box__info {
    font-size: 1rem;
  }
}
