.upcoming {
  width: 33%;
  margin: 40px 70px;
  padding-left: 0;
  background: #ffffff; }
  .upcoming__title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    padding: 1rem 0; }

.upcoming-list {
  list-style: none; }
  .upcoming-list__item {
    padding: 0 1rem 0 1rem;
    font-size: 0.875rem; }
    .upcoming-list__item__content {
      margin-left: 3rem; }
      .upcoming-list__item__content__date {
        float: left;
        font-size: 0.875rem;
        margin-right: 12%;
        text-align: left; }
        .upcoming-list__item__content__date__date {
          font-weight: bold;
          color: red; }
    .upcoming-list__item__info {
      float: left;
      font-size: 0.875rem;
      text-align: left; }
      .upcoming-list__item__info__title {
        font-style: italic;
        font-weight: bold; }
    .upcoming-list__item__participation {
      margin-top: 0.5rem;
      text-align: center; }
      .upcoming-list__item__participation__btn {
        margin-right: 0.5rem;
        background: #a4d9f4;
        width: 6.313rem; }

.last {
  margin-right: 0; }

.line {
  margin: 1rem 0; }
