@import '../../css/colors.scss';

.upcoming {
  margin: 2.5rem 1.5rem 2.5rem 0;
  padding: 0;
  background: $color-white;
}

.upcoming-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  padding: 1rem 0;
}

.upcoming-list {
  list-style: none;
}

.upcoming-item {
  padding: 0 1rem 0 1rem;
  font-size: 0.875rem;
  .item-content {
    margin-left: 3rem;
    &__date {
      float: left;
      font-size: 0.875rem;
      margin-right: 3rem;
      text-align: left;
    }
    &__date_title {
      font-weight: bold;
      color: $color-red;
      margin-right: 0;
    }
    &__info {
      float: left;
      font-size: 0.875rem;
      text-align: left;
    }
    &__info_title {
      font-style: italic;
      font-weight: bold;
    }
  }
  .item-participation {
    margin-top: 0.5rem;
    text-align: center;
    &__last-button {
      margin-right: 0;
    }
  }
}

.line {
  margin: 1rem 0;
}
