@import '../../css/colors.scss';

.event-form {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: $color-yellow;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__item {
    margin-bottom: 2rem;
    width: 45%; //47%
    border-radius: 0.3rem;
  }
  &__float {
    float: left;
    margin-right: 2rem;
    &.last {
      &:nth-child(2) &:nth-child(4) &:nth-child(6) &:nth-child(9) &:nth-child(10) {
        margin-right: none;
      }
    }
  }
  &__center {
    width: 45%;
    margin: auto;
    margin-bottom: 2rem;
  }
  &__description {
    margin-bottom: 2rem;
  }
}

.event-form-button {
  text-align: center;
  &__left-btn {
    margin-right: 1rem;
  }
}

.form-control {
  border: none;
}
