$color-white: #ffffff;
$color-dark-blue: #6b8c9c;
$color-light-blue: #a4d9f4;
$color-blue: #54bad8;
$color-red: red;
$color-yellow: #f7dc1b;
$color-black: black;
$color-shadow: rgba(0, 0, 0, 0.75);
$color-gray: rgba(0, 0, 0, 0.1);
$color-dark-gray: #4b4f56;
$color-light-gray: #90949c;
