.suggested {
  margin: 2.5rem 1.5rem 2.5rem 0;
  padding-left: 0;
  background: #ffffff; }

.suggested-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  padding: 1rem 0; }

.suggested-list {
  list-style: none; }

.suggested-item {
  font-size: 0.875rem;
  margin: 0px 2rem; }
  .suggested-item .item-image {
    width: 20%;
    float: left; }
  .suggested-item .item-content {
    width: 75%;
    float: left;
    padding-left: 2rem; }
    .suggested-item .item-content__date {
      float: left;
      padding-right: 1rem; }
    .suggested-item .item-content__date_title {
      color: red;
      font-weight: 600; }
    .suggested-item .item-content__info {
      float: left;
      font-size: 0.875rem;
      text-align: left; }
    .suggested-item .item-content__info_title {
      font-style: italic;
      font-weight: bold; }
  .suggested-item .item-participation {
    margin-top: 0.5rem;
    text-align: center;
    float: left; }
    .suggested-item .item-participation__last-button {
      margin-right: 0; }

.line {
  margin: 1rem 0; }

@media (max-width: 1100px) {
  .item-content__info {
    padding-top: 0.5rem; } }

@media (max-width: 983px) {
  .suggested-item .item-content__info {
    font-size: 0.775rem; } }
