@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './css/colors.scss';

// GLOBAL STYLES

:focus {
  outline: 0;
}

html {
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

body {
  max-width: 1500px;
}

.form-control {
  border: none;
}

.input-error {
  color: $color-red;
  margin-top: 7px;
}

.form-group {
  margin-bottom: 0;
}
